<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal_search">
    <div class="container">
        <div class="content--search hide">
            <h3 class="title--search">Tìm kiếm</h3>
            <div class="wrapper--right--result">
                <p></p>
            </div>
            <div class="wrapper--right">
                <div class="wrapper--right--input">
                    <input type="text" placeholder="Tìm Kiếm sản phẩm..." id="search" style="font-size: 20px">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="wrapper--right--product">

                </div>
            </div>
        </div>
    </div>
</th:block>


